{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        {% block title %}<title>
            TechReform BD - All Products (Grid)
        </title>{% endblock %}
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static "product-grids/images/favicon.svg" %}"
        />

        <!-- ========================= CSS here ========================= -->
        <link rel="stylesheet" href="{% static "product-grids/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "product-grids/css/LineIcons.3.0.css" %}" />
        <link rel="stylesheet" href="{% static "product-grids/css/tiny-slider.css" %}" />
        <link rel="stylesheet" href="{% static "product-grids/css/glightbox.min.css" %}" />
        <link rel="stylesheet" href="{% static "product-grids/css/main.css" %}" />
    </head>

    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">
                You are using an <strong>outdated</strong> browser. Please
                <a href="https://browsehappy.com/">upgrade your browser</a> to
                improve your experience and security.
            </p>
        <![endif]-->

        <!-- Preloader -->
        <!-- <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div> -->
        <!-- /End Preloader -->

        <!-- Start Breadcrumbs -->
        <div class="breadcrumbs">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="breadcrumbs-content">
                            <h1 class="page-title">Shop Grid</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <ul class="breadcrumb-nav">
                            <li>
                                <a href="{% url "index" %}"
                                    ><i class="lni lni-home"></i> Home</a
                                >
                            </li>
                            <li><a href="javascript:void(0)">Shop</a></li>
                            <li>Shop Grid</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- Start Product Grids -->
        <section class="product-grids section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12">
                        <!-- Start Product Sidebar -->
                        <div class="product-sidebar">
                            <!-- Start Single Widget -->
                            <div class="single-widget search">
                                <h3>Search Product</h3>
                                <form action="#">
                                    <input
                                        type="text"
                                        placeholder="Search Here..."
                                    />
                                    <button type="submit">
                                        <i class="lni lni-search-alt"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- End Single Widget -->
                            <!-- Start Single Widget -->
                            <div class="single-widget">
                                <h3>All Products</h3>
                                <ul class="list">
                                    <li>
                                        <a href="{% url "cpu_grids" %}"
                                            >CPU </a
                                        ><span>(32)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "cooler_grids" %}"
                                            >Cooler</a
                                        ><span>(9)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "motherboard_grids" %}"
                                            >Motherboard</a
                                        ><span>(22)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "error_404" %}"
                                            >RAM</a
                                        ><span>(0)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "error_404" %}"
                                            >SSD</a
                                        ><span>(0)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "hdd_grids" %}"
                                            >HDD</a
                                        ><span>(4)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "gpu_grids" %}"
                                            >GPU</a
                                        ><span>(17)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "error_404" %}"
                                            >Power Supply</a
                                        ><span>(0)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "casing_grids" %}"
                                            >Casing</a
                                        ><span>(13)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "error_404" %}"
                                            >Monitor</a
                                        ><span>(0)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "keyboard_grids" %}"
                                            >Keyboard</a
                                        ><span>(3)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "error_404" %}"
                                            >Mouse</a
                                        ><span>(0)</span>
                                    </li>
                                    <li>
                                        <a href="{% url "headphone_grids" %}"
                                            >Headphone</a
                                        ><span>(4)</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                            <!-- Start Single Widget -->
                            <div class="single-widget range">
                                <h3>Price Range</h3>
                                <input
                                    type="range"
                                    class="form-range"
                                    name="range"
                                    step="1"
                                    min="100"
                                    max="10000"
                                    value="10"
                                    onchange="rangePrimary.value=value"
                                />
                                <div class="range-inner">
                                    <label>৳</label>
                                    <input
                                        type="text"
                                        id="rangePrimary"
                                        placeholder="100"
                                    />
                                </div>
                            </div>
                            <!-- End Single Widget -->
                            <!-- Start Single Widget -->
                            <div class="single-widget condition">
                                <h3>Filter by Price</h3>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault1"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault1"
                                    >
                                        ৳500 - ৳1,000 (208)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault2"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault2"
                                    >
                                        ৳1,000 - ৳5,000 (311)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault3"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault3"
                                    >
                                        ৳5,000 - ৳10,000 (485)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault4"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault4"
                                    >
                                        ৳10,000 - ৳50,000 (213)
                                    </label>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                            <!-- Start Single Widget -->
                            <div class="single-widget condition">
                                <h3>Filter by Brand</h3>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault11"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault11"
                                    >
                                        Apple (254)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault22"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault22"
                                    >
                                        Bosh (39)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault33"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault33"
                                    >
                                        Canon Inc. (128)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault44"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault44"
                                    >
                                        Dell (310)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault55"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault55"
                                    >
                                        Hewlett-Packard (42)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault66"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault66"
                                    >
                                        Hitachi (217)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault77"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault77"
                                    >
                                        LG Electronics (310)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckDefault88"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckDefault88"
                                    >
                                        Panasonic (74)
                                    </label>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <!-- End Product Sidebar -->
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="product-grids-head">
                            <div class="product-grid-topbar">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-8 col-12">
                                        <div class="product-sorting">
                                            <label for="sorting"
                                                >Sort by:</label
                                            >
                                            <select
                                                class="form-control"
                                                id="sorting"
                                            >
                                                <option>Popularity</option>
                                                <option>
                                                    Low - High Price
                                                </option>
                                                <option>
                                                    High - Low Price
                                                </option>
                                                <option>Average Rating</option>
                                                <option>A - Z Order</option>
                                                <option>Z - A Order</option>
                                            </select>
                                            <h3 class="total-show-product">
                                                Showing:
                                                <span>1 - 12 items</span>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-12">
                                        <nav>
                                            <div
                                                class="nav nav-tabs"
                                                id="nav-tab"
                                                role="tablist"
                                            >
                                                <button
                                                    class="nav-link active"
                                                    id="nav-grid-tab"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#nav-grid"
                                                    type="button"
                                                    role="tab"
                                                    aria-controls="nav-grid"
                                                    aria-selected="true"
                                                >
                                                    <i
                                                        class="lni lni-grid-alt"
                                                    ></i>
                                                </button>
                                                <button
                                                    class="nav-link"
                                                    id="nav-list-tab"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#nav-list"
                                                    type="button"
                                                    role="tab"
                                                    aria-controls="nav-list"
                                                    aria-selected="false"
                                                >
                                                    <i class="lni lni-list"></i>
                                                </button>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div
                                    class="tab-pane fade show active"
                                    id="nav-grid"
                                    role="tabpanel"
                                    aria-labelledby="nav-grid-tab"
                                >
                                    <div class="row">
                                        <!-- Start Single CPU product with loop -->
                                        {% for product in keyboard %}
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <!-- Start Single Product -->
                                                <div class="single-product">
                                                    <div class="product-image">
                                                        <img
                                                            src="{{ product.image1.url }}"
                                                            alt="{{ product.brand }} {{ product.model }}"
                                                        />
                                                        {% if user.is_authenticated %}
                                                            {% for group in user.groups.all %}
                                                                {% if group.name == "shopkeeper" %}
                                                        <div class="button">
                                                            <a href="{% url 'keyboard_update' product.id %}" class="btn">
                                                                <i class="lni lni-pencil"></i>
                                                                Update
                                                            </a>
                                                            <a href="{% url 'keyboard_delete' product.id %}" class="btn">
                                                                <i class="lni lni-trash"></i>
                                                                Delete
                                                            </a>
                                                        </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </div>
                                                    <div class="product-info">
                                                        <span class="category">Keyboard</span>
                                                        <h4 class="title">
                                                            <a href="{% url "product_details" product.id %}">{{ product.brand }} {{ product.model }}</a>
                                                        </h4>
                                                        <ul class="review">
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star"></i></li>
                                                            <li>
                                                                <span>4.0 Review(s)</span>
                                                            </li>
                                                        </ul>
                                                        <div class="price">
                                                            <span>৳{{ product.price }}</span>
                                                            {% if product.regular_price %}
                                                                <span class="discount-price">৳{{ product.regular_price }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single Product -->
                                            </div>
                                        {% endfor %}
                                        <!-- End Single CPU product with loop -->
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Pagination -->
                                            <div class="pagination left">
                                                <ul class="pagination-list">
                                                    <li>
                                                        <a
                                                            href="javascript:void(0)"
                                                            >1</a
                                                        >
                                                    </li>
                                                    <li class="active">
                                                        <a
                                                            href="javascript:void(0)"
                                                            >2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:void(0)"
                                                            >3</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:void(0)"
                                                            >4</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:void(0)"
                                                            ><i
                                                                class="lni lni-chevron-right"
                                                            ></i
                                                        ></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--/ End Pagination -->
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="tab-pane fade"
                                    id="nav-list"
                                    role="tabpanel"
                                    aria-labelledby="nav-list-tab"
                                >
                                    <div class="row">
                                        <!-- Start Single CPU product with loop -->
                                        {% for product in cpu %}
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <!-- Start Single Product -->
                                                <div class="single-product">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-4 col-md-4 col-12">
                                                            <div class="product-image">
                                                                <img
                                                                    src="{{ product.image1.url }}"
                                                                    alt="{{ product.brand }} {{ product.model }}"
                                                                />
                                                                <div class="button">
                                                                    <a href="#" class="btn">
                                                                        <i class="lni lni-cart"></i>
                                                                        Add to Cart
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-12">
                                                            <div class="product-info">
                                                                <span class="category">CPUs</span>
                                                                <h4 class="title">
                                                                    <a href="{% url "product_grids" %}">{{ product.brand }} {{ product.model }}</a>
                                                                </h4>
                                                                <ul class="review">
                                                                    <li><i class="lni lni-star-filled"></i></li>
                                                                    <li><i class="lni lni-star-filled"></i></li>
                                                                    <li><i class="lni lni-star-filled"></i></li>
                                                                    <li><i class="lni lni-star-filled"></i></li>
                                                                    <li><i class="lni lni-star"></i></li>
                                                                    <li>
                                                                        <span>4.0 Review(s)</span>
                                                                    </li>
                                                                </ul>
                                                                <div class="price">
                                                                    <span>৳{{ product.price }}</span>
                                                                    {% if product.regular_price %}
                                                                        <span class="discount-price">৳{{ product.regular_price }}</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single Product -->
                                            </div>
                                        {% endfor %}
                                        <!-- End Single CPU product with loop -->
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Pagination -->
                                            <div class="pagination left">
                                                <ul class="pagination-list">
                                                    <!-- Previous Page -->
                                                    {% if cpu.has_previous %}
                                                        <li>
                                                            <a href="?page={{ cpu.previous_page_number }}">
                                                                <i class="lni lni-chevron-left"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                    
                                                    <!-- Page Numbers -->
                                                    {% for page_num in cpu.paginator.page_range %}
                                                        <li class="{% if cpu.number == page_num %}active{% endif %}">
                                                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                                                        </li>
                                                    {% endfor %}
                                    
                                                    <!-- Next Page -->
                                                    {% if cpu.has_next %}
                                                        <li>
                                                            <a href="?page={{ cpu.next_page_number }}">
                                                                <i class="lni lni-chevron-right"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <!--/ End Pagination -->
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Grids -->

        <!-- ========================= scroll-top ========================= -->
        <a href="#" class="scroll-top">
            <i class="lni lni-chevron-up"></i>
        </a>

        <!-- ========================= JS here ========================= -->
        <script src="{% static "product-grids/js/bootstrap.min.js" %}"></script>
        <script src="{% static "product-grids/js/tiny-slider.js" %}"></script>
        <script src="{% static "product-grids/js/glightbox.min.js" %}"></script>
        <script src="{% static "product-grids/js/main.js" %}"></script>
    </body>
</html>

{% endblock %}