{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        {% block title %}<title>TechReform BD - Register</title>{% endblock %}
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static "register/images/favicon.svg" %}"
        />
        <!-- ========================= CSS here ========================= -->
        <link rel="stylesheet" href="{% static "register/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "register/css/LineIcons.3.0.css" %}" />
        <link rel="stylesheet" href="{% static "register/css/tiny-slider.css" %}" />
        <link rel="stylesheet" href="{% static "register/css/glightbox.min.css" %}" />
        <link rel="stylesheet" href="{% static "register/css/main.css" %}" />
    </head>

    <body>
        <!-- Preloader -->
        <!-- <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div> -->
        <!-- /End Preloader -->

        <!-- Start Breadcrumbs -->
        <div class="breadcrumbs">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="breadcrumbs-content">
                            <h1 class="page-title">Registration</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <ul class="breadcrumb-nav">
                            <li>
                                <a href="{% url "index" %}"><i class="lni lni-home"></i> Home</a>
                            </li>
                            <li>Registration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- Start Account Register Area -->
        <div class="account-login section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                        <div class="register-form">
                            <div class="title">
                                <h3>No Account? Register</h3>
                                <p>
                                    Registration takes less than a minute but
                                    gives you full control over your orders.
                                </p>
                            </div>

                            <!-- Registration Form Start -->
                            <form class="row" method="POST">
                                {% csrf_token %}
                            
                                <!-- Username Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="id_username">Username</label>
                                        <input class="form-control" type="text" id="id_username" name="username" required placeholder="Enter your username">
                                    </div>
                                </div>
                            
                                <!-- Password Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="id_password1">Password</label>
                                        <input class="form-control" type="password" id="id_password1" name="password1" required placeholder="Enter your password">
                                    </div>
                                </div>
                            
                                <!-- Confirm Password Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="id_password2">Confirm Password</label>
                                        <input class="form-control" type="password" id="id_password2" name="password2" required placeholder="Confirm your password">
                                    </div>
                                </div>
                            
                                <!-- Role Dropdown -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="role">Role</label>
                                        <select name="role" class="form-control" required>
                                            <option value="user">User</option>
                                            <option value="shopkeeper">Shopkeeper</option>
                                            <option value="blogger">Blogger</option>
                                        </select>
                                    </div>
                                </div>
                            
                                <!-- Submit Button -->
                                <div class="button">
                                    <button class="btn" type="submit">Register</button>
                                </div>
                            </form>
                            <!-- Registration Form End -->

                            <p class="outer-link">
                                Already have an account?
                                <a href="{% url "login" %}">Login Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Account Register Area -->

        <!-- ========================= scroll-top ========================= -->
        <a href="#" class="scroll-top">
            <i class="lni lni-chevron-up"></i>
        </a>

        <!-- ========================= JS here ========================= -->
        <script src="{% static "register/js/bootstrap.min.js" %}"></script>
        <script src="{% static "register/js/tiny-slider.js" %}"></script>
        <script src="{% static "register/js/glightbox.min.js" %}"></script>
        <script src="{% static "register/js/main.js" %}"></script>
    </body>
</html>

{% endblock %}
